# ==============================================================================
# GTA V Vehicle Assets & Root Loose Scripts
# ==============================================================================
/POLICE1/
/POLICE2/
/POLICE3/
/zmodeler3/
/zmodeler3.zip
/CodeWalkerProjects-master/
/Auto_Export_UV_Template.bat
/Auto_Export_UV_Template.py

# ==============================================================================
# Build & IDE Artifacts
# ==============================================================================
.vs/
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==============================================================================
# OS Files
# ==============================================================================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==============================================================================
# Executables, Releases & Secret Build Scripts (Not for Public Repo)
# ==============================================================================
GTAV_Livery_Studio/
*.exe
*.zip
*.rar
**/Build.bat
/Mo_Giao_Dien_Livery_Studio.bat
/Day_Code_Len_Github.bat

# Whitelist dependency Libs required to build project in Visual Studio
!GTAV_Livery_Studio_SourceCode/Libs/*.dll
